h1.title {
    color: #000000;
    size: 7;
  }
  body {
    background-color: #d4cc84;
    color: #000000;
  }
  

  h1.feel_point{
    color: #2b337b;
  }


  h1.inline{
    display: inline;
    
  }



